extends layout

block content
  h1= title
  p.
    #{description}.
    Helps you decide if upgrading a dependency is likely to succeed.

  p Use with <a href="https://npmjs.org/package/next-update">next-update</a> dependency upgrade checker.

  h2 Module update statistics

  div(ng-controller="next-update-stats-controller")
    p See global upgrade statistics for a package
      input(type="text", placeholder="package name", ng-model="packageName"
        title="Enter package module to see update statistics")
      button.btn(ng-click="loadStats()" title="click to search") Load

    ul
      li(ng-repeat="update in updates") {{update.name}} {{update.from}} -> {{update.to}} {{update.probability | number:0}}% {{update.success}} successful {{update.failure}} failed

  h2 GET routes

  :markdown
    `/package/name`

    returns all statistics for given package, [example](/package/lodash)

    `/package/name/from version/to version`

    returns statistics for updating package from and to specific version,
    [example](/package/lodash/1.0.0/2.4.0) The versions should be `x.y.z` strings.

    `/version`

    returns #{name} server version
