extends layout

block content
  h1= title
  p.
    #{description}.
    Helps you decide if upgrading a dependency is likely to succeed.

  p Use with <a href="https://npmjs.org/package/next-update">next-update</a> dependency upgrade checker.

  p Sample stats:
  pre.
    grunt-contrib-jshint 0.7.1 -> 0.7.2 success probability 100.00% 2 success(es) 0 failure(s)
    pre-git 0.0.13 -> 0.0.14 success probability 100.00% 2 success(es) 0 failure(s)

  h2 GET routes

  :markdown
    `/package/name`

    returns all statistics for given package, [example](/package/lodash)

    `/package/name/from version/to version`

    returns statistics for updating package from and to specific version,
    [example](/package/lodash/1.0.0/2.4.0) The versions should be `x.y.z` strings.

    `/version`

    returns #{name} server version
