doctype html
html(ng-app='next-update-stats')
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/lodash.min.js')
    script(src='javascripts/check-types.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(src='javascripts/next-update-stats.js')
  body(ng-controller="next-update-stats-controller")
    a(href="https://github.com/bahmutov/next-update-stats")
      img(style="position: fixed; top: 0; right: 0; border: 0;",
        src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",
        alt="Fork me on GitHub"
        title="Fork me on GitHub - next-update-stats")
    block content
