body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.not-found {
  text-align: center;
  font-size: large;
  font-style: italic;
}

.clear-both {
  clear: both;
}

.totals-container {
  width: 60%;
}

.totals {
  font-weight: bold;
  padding: 1em;
  width: 50%;
  float: left;
  font-size: 2em;
}